@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.red-rose-light {
  font-family: 'Red Rose', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.red-rose-regular {
  font-family: 'Red Rose', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.red-rose-medium {
  font-family: 'Red Rose', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.red-rose-bold {
  font-family: 'Red Rose', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.parallax-bg {
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .parallax-bg {
    background-attachment: fixed;
  }
}
